.panel-learn {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 200px;
}

.panel-learn-header {
  height: 80px;
}

.panel > img {
  position: absolute;
}

.panel-heading > .title {
  margin-left: 70px;
}

.panel-heading > .desc {
  margin-left: 70px;
}

.dash-header {
  margin-top: -20px;
}

.ellip {
  text-overflow: ellipsis;
  overflow: hidden;
}

#mySwipe div b {
  display:block;
  font-weight:bold;
  color:#14ADE5;
  font-size:20px;
  text-align:center;
  margin:10px;
  padding:100px 10px;
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}

.learn_buttons {
  /*display: none;*/
  position: absolute;
  right: 0px;
  /*bottom: 60px;*/
  top: 0px;
  margin: 20px 35px;
}
