<!--
    <form id="class-reg-form" data-validate="parsley">
      <div class="page-header">
        <h2>Class Details <small>Title & Description</small></h2>
      </div>

      <label for="classTitle">Class Name</label>
      <input type="text" id="classTitle" name="classTitle" data-ng-model="class.title" data-required="true" placeholder="e.g. Build a Fixed Bike"/>

      <label for="classDesc">Description</label>
      <input type="text" id="classDesc" name="classDesc" data-ng-model="class.desc" data-trigger="change" data-required="true" data-type="email" placeholder="e.g. Introduction to assembly and tools required to building your first bike" />

      <div class="page-header">
        <h2>Syllabus <small>What will students learn?</small></h2>
      </div>

      <label for="syllabus">Syllabus (20 chars min, 200 max) :</label>
      <textarea id="syllabus" name="syllabus" data-ng-model="class.syllabus"  data-trigger="keyup" data-rangelength="[20,200]"></textarea>
    </form>

    <br>
    <button type="submit" class="btn btn-default btn-primary" data-ng-click="submit(class)">Submit</button>
-->
<div class="row">
  <div class="col col-lg-8">
    <h2>Class Details</h2>
    <form id="class_form" class="form-horizontal" data-validate="parsley">
        <div class="control-group">
            <label class="control-label" for="categories">Categories</label>
            <div class="controls">
                <select data-ng-model="class.category" data-required="true">
                    <option value="" disabled>Please Choose</option>
                    <option value="arts">Arts</option>
                    <option value="education">Education</option>
                    <option value="music">Music</option>
                    <option value="sports">Sports / Outdoor</option>
                    <option value="language">Language</option>
                    <option value="food">Food</option>
                    <option value="professional">Professional Skills</option>
                    <option value="misc">Miscellaneous</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputClassName">Class Name</label>
            <div class="controls">
                <input type="text" id="inputClassName" placeholder="" data-ng-model="class.name" data-required="true" >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="intro">Brief Introduction</label>

            <div class="controls">
                <div id="wysihtml5-toolbar" style="display: none;">
                  <a data-wysihtml5-command="bold">bold</a>
                  <a data-wysihtml5-command="italic">italic</a>

                  <!-- Some wysihtml5 commands require extra parameters -->
                  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>
                  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>
                  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>

                  <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
                  <a data-wysihtml5-command="createLink">insert link</a>
                  <div data-wysihtml5-dialog="createLink" style="display: none;">
                    <label>
                      Link:
                      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
                    </label>
                    <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
                  </div>
                </div>
                <form>
                    <textarea id="wysihtml5-textarea" data-ng-model="class.introduction" data-required="true"></textarea>
                </form>
                <script>
                var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
                  toolbar:      "wysihtml5-toolbar", // id of toolbar element
                  parserRules:  wysihtml5ParserRules // defined in parser rules set
                });
                </script>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="class_size">Class Size</label>
            <div class="controls">
                <input type="text" id="class_size" placeholder="How many students" data-ng-model="class.size" data-required="true">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="location">Location</label>
            <div class="controls">
                <select data-ng-model="class.location" data-required="true" >
                    <option disabled>---Hong Kong Island---</option>
                    <option>Central and Western</option>
                    <option>Wan Chai</option>
                    <option>Eastern</option>
                    <option>Southern</option>
                    <option disabled>---Kowloon---</option>
                    <option>Yau Tsim Mong</option>
                    <option>Sham Shui Po</option>
                    <option>Kowloon City</option>
                    <option>Wong Tai Sin</option>
                    <option>Kwun Tong</option>
                    <option disabled>---New Territories---</option>
                    <option>Kwai Tsing</option>
                    <option>Tsuen Wan</option>
                    <option>Tuen Mun</option>
                    <option>Yuen Long</option>
                    <option>North</option>
                    <option>Tai Po</option>
                    <option>Sha Tin</option>
                    <option>Sai Kung</option>
                    <option>Islands</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="teachinghr">Teaching Duration</label>
            <div class="controls">
                <select data-ng-model="class.duration" data-required="true">
                    <option value="" disabled>Please Choose</option>
                    <option value="0.5">30 minutes</option>
                    <option value="1">1 hour</option>
                    <option value="2">2 hours</option>
                    <option value="3">3 hours</option>
                    <option value="4">4 hours</option>
                    <option value="4+">4+ hours</option>
                </select>
            </div>
        </div>
        <br>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" data-ng-click="submit(class)">Confirm</button>
                <button type="button" class="btn">Cancel</button>
            </div>
        </div>
    </form>
  </div>
</div>