    <div class="page-header">
      <h2>{{class.name}} <small>by {{teacher.name}}</small></h2>
    </div>
<div class="row">
  <div class="col col-lg-8">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">課程資料</div>
      <p>{{class.introduction}}</p>

      <!-- List group -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col col-lg-2">
              <strong>學生人數:</strong>
            </div>
            <div class="col col-lg-10">
              {{class.size}}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col col-lg-2">
              <strong>課程時數:</strong>
            </div>
            <div class="col col-lg-10">
              {{class.duration}}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col col-lg-2">
              <strong>分類:</strong>
            </div>
            <div class="col col-lg-10">
              {{class.category}}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col col-lg-2">
              <strong>建立於:</strong>
            </div>
            <div class="col col-lg-10">
              {{class.createdAt | date:'medium'}}
            </div>
          </div>
        </li>
        <!--
        <li class="list-group-item"><strong>Created At: </strong>{{class.createdAt}}</li>
        <li class="list-group-item"><strong>Category: </strong>{{class.category}}</li>
        -->
      </ul>
    </div>

    <button id="registerbutton" class="btn btn-success btn-large btn-block" data-ng-click="register()">註冊</button>

    <div class="page-header">
      <h3>常見問題 <small>answered by the instructor</small></h3>

      <blockquote>
        <p>Will your class include learning materials?</p>
        <small>Howard Cheung <cite title="Source Title">10 mins ago</cite></small>
      </blockquote>

      <blockquote>
        <p>Are there office hours after class?</p>
        <small>Anonymous <cite title="Source Title">4 days ago</cite></small>
      </blockquote>
    </div>
  </div>
  <div class="col col-lg-4">
    <div class="panel panel-info">
      <div class="panel-heading">導師資料</div>
      <p><img height="100px" ng-src="{{profile_image}}"></img></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col col-lg-5">
              <strong>名稱:</strong>
            </div>
            <div class="col col-lg-7">
              {{teacher.name}}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col col-lg-5">
              <strong>年齡:</strong>
            </div>
            <div class="col col-lg-7">
              {{teacher.age}}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col col-lg-5">
              <strong>帳號建立於:</strong>
            </div>
            <div class="col col-lg-7">
              {{class.createdAt | date:'mediumDate'}}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">問導師問題</div>
      <p><input type="text" class="" placeholder="Are there office hours after class?"></input></p>
      <button class="btn btn-info btn-block">提交問題</button>
    </div>

  </div>
</div>

<br>