<div class="row">
    <div class="col col-lg-6">
        <h2>聯絡我們</h2>

        <table class="table table-bordered">
            <tr class="">
                <td>電 郵</td>
                <td><a href="igottalenthk@gmail.com">igottalenthk@gmail.com</a>
                </td>
            </tr>
            <tr class="">
                <td>電 話</td>
                <td>2424 2424</td>
            </tr>
            <tr class="">
                <td>Facebook Fan Page</td>
                <td><a href="https://www.facebook.com/iGotTalentHK">https://www.facebook.com/iGotTalentHK</a>
                </td>
            </tr>
        </table>
    </div>
</div>