<div class="starter-template">
  <h1>每人都總會有一技之長，你會選擇與他人分享嗎？</h1>
  <p class="lead">
    在這個分享平台，老師跟學生可以更容易走在一起，分享自己所愛的興趣和能力。
  </p>

  <a href="#/teach"><button type="button" class="btn btn-large btn-info">我要做老師!</button></a>
  <a href="#/learn"><button type="button" class="btn btn-large btn-danger">我要做學生!</button></a>
</div>

<div class="row">
    <div style="margin: 0 auto; text-align: center;">
      <img src="/assets/img/montage.jpg" />
    </div>
</div>

<!--
<div class="row">
  <div class="col col-lg-10 col-offset-1">
    <div class="col col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
    <div class="col col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
   </div>
    <div class="col col-lg-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>
-->