<div class="starter-template">
  <h1>Find and pick up local talent</h1>
  <p class="lead">
    Everyone has a skill. Why not share it with others in Hong Kong!
  </p>

  <a href="#/teach"><button type="button" class="btn btn-large btn-info">I want to Teach</button></a>
  <a href="#/learn"><button type="button" class="btn btn-large btn-danger">I want to Learn</button></a>
</div>

<img src="/assets/img/montage.jpg" />


<div class="row">
  <div class="col col-lg-10 col-offset-1">
    <div class="col col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
    <div class="col col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
   </div>
    <div class="col col-lg-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>