<div class="row">
  <div class="col col-lg-5">
    <form id="login-form" class="form-horizontal" data-validate="parsley">
      <div class="row">
        <label for="inputEmail" class="col col-lg-2 control-label">Email</label>
        <div class="col col-lg-10">
          <input type="text" id="inputEmail" placeholder="Email" data-ng-model="user.email" data-trigger="change" data-required="true" data-type="email">
        </div>
      </div>
      <div class="row">
        <label for="" class="col col-lg-2 control-label">Password</label>
        <div class="col col-lg-10">
          <input type="password" id="inputPassword" placeholder="Password" data-ng-model="user.password">
          <br>
        </div>
        <div class="col col-lg-10 col-offset-2">
          <button type="submit" class="btn btn-default btn-primary" data-ng-click="submit(user)">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
