<h2>更多資料</h2>

<div class="row">
    <div class="col col-lg-8">
        <form id="register2-form" class="form-horizontal" data-validate="parsley">
            <div class="control-group">
                <label class="control-label" for="inputCName">中文姓名</label>
                <div class="controls">
                    <input type="text" id="inputCName" placeholder="" data-ng-model="profile.chinesename" data-required="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEName">English Name</label>
                <div class="controls">
                    <input type="text" id="inputEName" placeholder="" data-ng-model="profile.englishname" data-required="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputnum">聯絡電話</label>
                <div class="controls">
                    <input type="text" id="inputnum" placeholder="" data-ng-model="profile.phone" data-required="true" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="age">年齡</label>
                <div class="controls">
                    <select data-ng-model="profile.age" data-required="true">
                        <option value="" disabled>Please Choose</option>
                        <option>Below 10</option>
                        <option>10 to 19</option>
                        <option>20 to 29</option>
                        <option>30 to 39</option>
                        <option>40 to 49</option>
                        <option>Above 50</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="edu">最高學歷</label>
                <div class="controls">
                    <select data-ng-model="profile.education" data-required="true">
                        <option value="" disabled>Please Choose</option>
                        <option>Below Form 5</option>
                        <option>Form 5</option>
                        <option>Form 6</option>
                        <option>Form 7</option>
                        <option>High Diploma/Pre-Associate Degree</option>
                        <option>Associate Degree</option>
                        <option>Undergraduate</option>
                        <option>Bachelor's degree</option>
                        <option>Master's degree</option>
                        <option>Doctor's degree</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="interest">興趣</label>
                <div class="controls">
                    <label class="checkbox inline">
                        <input type="checkbox" id="Checkbox_music" value="music" data-ng-model="profile.interest_music" data-group="asd">音樂</label>
                    <label class="checkbox inline">
                        <input type="checkbox" id="Checkbox_sport" value="sport" data-ng-model="profile.interest_sport" data-group="asd">運動</label>
                    <label class="checkbox inline">
                        <input type="checkbox" id="Checkbox_language" value="language" data-ng-model="profile.interest_language" data-group="asd">語言</label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-block btn-primary" data-ng-click="submit(profile)">確定</button>
                    <button type="button" class="btn btn-block" data-ng-click="skip()">略過</button>
                </div>
            </div>
            <br>
        </form>
    </div>
    <div class="col col-lg-4">
        <!-- <button class="btn btn-large btn-success">Skip</button> -->
    </div>
</div>