<h2>Further Information</h2>

<div class="row">
    <div class="col col-lg-8">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputCName">Chinese Name</label>
                <div class="controls">
                    <input type="text" id="inputCName" placeholder=" ">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEName">English Name</label>
                <div class="controls">
                    <input type="password" id="inputEName" placeholder=" ">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputnum">Contact Number</label>
                <div class="controls">
                    <input type="text" id="inputnum" placeholder=" ">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="age">Age Range</label>
                <div class="controls">
                    <select>
                        <option>Below 10</option>
                        <option>10 to 19</option>
                        <option>20 to 29</option>
                        <option>30 to 39</option>
                        <option>40 to 49</option>
                        <option>Above 50</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="edu">Highest level of Education</label>
                <div class="controls">
                    <select>
                        <option>Below Form 5</option>
                        <option>Form 5</option>
                        <option>Form 6</option>
                        <option>Form 7</option>
                        <option>High Diploma/Pre-Associate Degree</option>
                        <option>Associate Degree</option>
                        <option>Undergraduate</option>
                        <option>Bachelor's degree</option>
                        <option>Master's degree</option>
                        <option>Doctor's degree</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="interest">Interested in</label>
                <div class="controls">
                    <label class="checkbox inline">
                        <input type="checkbox" id="Checkbox_music" value="music">Music</label>
                    <label class="checkbox inline">
                        <input type="checkbox" id="Checkbox_sport" value="sport">Sport</label>
                    <label class="checkbox inline">
                        <input type="checkbox" id="Checkbox_language" value="language">Language</label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-block btn-primary">Confirm</button>
                    <button type="button" class="btn btn-block">Skip</button>
                </div>
            </div>
            <br>
        </form>
    </div>
    <div class="col col-lg-4">
        <!-- <button class="btn btn-large btn-success">Skip</button> -->
    </div>
</div>