<div class="row">
  <div class="col col-lg-8 col-offset-2">
    <div class="jumbotron">
      <h1>Enjoy Teaching</h1>
      <p class="lead">Enjoy teaching others your passion and make a little money in return!</p>
      <p><a class="btn btn-large btn-success" href="#class/create">Become a Teacher, create your first class</a></p>
    </div>

    <div class="row marketing">
      <div class="col col-lg-6">
        <h4>Share your Talent</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Build a Community Reputation</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>No Credential Required</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>

      <div class="col col-lg-6">
        <h4>Everybody has a skill, Anyone can Teach</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>You design your class</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Total control in your classroom</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
    </div>
  </div>
</div>